@use "./../../scss/" as *;

.nodata__wrapper {
  height: 86vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  background-color: $white-color;
  margin-top: 24px;

  svg {
    width: 30%;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.25px;
    color: #52575c;
  }
}
