@use "./../../scss/" as *;

.layout__wrapper {
  display: flex;
  height: auto;
  width: 100%;

  .layout__navbar {
    overflow-y: auto;
    background-color: $text-color-26;
    padding: 14px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    &.navbar-show {
      width: 240px;
    }

    &.navbar-hidden {
      width: 60px;
    }

    .navbar__header {
      display: flex;
      height: 60px;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      &.navbar__header-show {
        justify-content: space-between;
      }

      &.navbar__header-hidden {
        justify-content: center;
      }

      .navbar__header_logo {
        width: 180px;
        height: 80px;
        position: relative;

        .logo {
          background-image: url("./../../assets//images/logo-naem.png");
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: contain;
          width: 100%;
          height: 100%;
        }
      }

      span {
        width: 24px;
        height: 24px;
        color: $white-color;
        font-size: 20px;
        display: flex;
        justify-content: center;
        cursor: pointer;

        svg {
          width: 24px;
          height: 24px;
          // path {
          //   fill: $white-color !important;
          // }
        }

        &.rotate {
          transform: rotate(180deg);
        }
      }
    }

    .navbar__body {
      padding: 12px 0;

      ul {
        display: flex;
        flex-direction: column;
        gap: 2px;
        li {
          display: flex;
          align-items: center;
          gap: 10px;
          border-radius: 4px;
          cursor: pointer;
          transition: all 0.3s linear;

          &:hover {
            background-color: $primary-color;
          }

          &.navbar__body-show {
            justify-content: start;
            padding: 12px;
          }

          &.navbar__body-hidden {
            justify-content: center;
            padding: 12px 0;
          }

          .navbar__name {
            color: $white-color;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            transition: all 0.3s ease;
            white-space: nowrap;
          }

          span {
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
              width: 20px;
              height: 20px;
              // transform: scale(2.5);
              path {
                fill: $white-color;
              }
            }
          }
        }

        .active {
          background-color: $primary-color;
        }
      }
    }
  }

  .layout__container {
    position: relative;
    background-color: #262626;
    transition: all 0.3s ease;
    width: 100%;

    &::before {
      position: absolute;
      content: "";
      width: 16px;
      left: 0;
      top: 32px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 40px 0 0 0;
      display: block;
      bottom: 0;
    }
    .layout__inner {
      border-top-left-radius: 35px;
      padding: 0 24px;
      background-color: $white-color;
      min-height: 100vh;
      margin-left: 16px;
      display: flex;
      flex-direction: column;
      height: 100vh;
      overflow-y: hidden;
      background-color: #ebeef2;

      .layout__header {
        padding: 16px 0;
        border-bottom: 1px solid $border-color;
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
        align-items: center;

        .layout__header_title {
          h6 {
            font-weight: 600;
            font-size: 24px;
            line-height: 28px;
            color: $text-color-17;
          }
        }

        .layout__header_info {
          display: flex;
          align-items: center;
          gap: 4px;

          .img {
            width: 32px;
            height: 32px;
            position: relative;
            border-radius: 50%;
            border: 1px solid $border-color;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              position: absolute;
              margin-block: auto;
              inset: 0px;
              vertical-align: middle;
              object-fit: cover;
            }
          }
        }
      }

      .layout__body {
        height: 90vh;
        overflow-y: auto;
      }
    }
  }
}
