@use "./../../scss/" as *;

.input__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;

  label {
    font-weight: 500;
    size: 14px;
    line-height: 18px;
  }

  input {
    border: 1px solid $border-color;
    transition: all 0.4s ease;
    height: 40px;
    border-radius: 4px;
    padding: 0 0 0 36px;

    &::placeholder {
      font-size: 14px;
      color: #a3a3a3;
    }

    &:hover {
      border: 1px solid $primary-color;
    }
  }

  .icon {
    position: absolute;
    left: 6px;
    bottom: 6px;
  }
}
