@use "./scss/" as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,700;1,900&display=swap");
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.1px;
  font-family: "Roboto", sans-serif;
  height: auto;
}

p,
ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

input,
button {
  border: none;
  outline: none;
}

a {
  color: $black-color;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f6f6f6;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(119 119 119 / 50%);
  border-radius: 6px;
}

.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}
