$border-color: rgba(0, 0, 0, 0.12);
$black-color: #000;
$primary-color: #00c39f;
$white-color: #fff;
$text-color: #a3a3a3;
$text-color-26: #262626;
$text-color-17: #171717;
$text-color-52: #525252;
$backgound-active: #d9f6f1;
$backgound-color: #f6f6f6;
